
#p4{
    position: absolute;
    top: 50%;
    left: -8.9%;

    width: 20%;
    transform:rotate(21.92deg);
}
#p5{ 
    position: absolute;
    top: 50%;
    left: 90%;
    width: 15%;
    transform:rotate(-35.62deg);
}
#p01{
    top:59%;
    width:100%;
    height:44%;
    left:0.5%;
    position: absolute;
}
#p6{
    position: absolute;
    top:16%;
    left:34%;
    margin: 1%;
    width: 30%;
    height: 51%;
    animation: zoom-in-zoom-out 2s ease-in-out ;
}
@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(0, 0);
    }
    50% {
    transform: scale(1.2, 1.2);
    }
    100% {
    transform: scale(1, 1);
    }
}
a:hover{
    color:#ACE5CC;
    transition-duration: .3s;
    
}
#nav:hover{
    color:#ACE5CC;
    transition-duration: .3s;
    
}

#navbar{
    background-color: #483434;
    
}
#p3{
    position: absolute;
    top: 2.5%;
    left: 45%;
    z-index: 999999;
}
a{
    text-decoration: none;
    color: #EEC02C ;
    
}
#nav{
    font-family: 'Noto Sans Thai', sans-serif;
    color: #EEC02C;
}
.hun1{
position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}
#p8{
    width: 100%;
    height: 100%;
    
}


